@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
.slateWrapper {
    border: 1px solid #17a2b8;
    border-radius: 5px;
    margin-top: 5px;
    padding: 10px;
    .material-icons {
        font-size: 28px;
      }
  }
  .SlateEditorLabel {
    font-size: 18px;
    font-weight: 300;
    color: #448aff;
  }
  .slateToolbar {
    padding: 0;
    margin: 0;
    min-height: 10px;
    padding: 10px 0;
  }
  .slateEditor {
    padding: 0 8px;
  }