@import "variables";
@import "fonts";

.App 
{
  text-align: center;
}

body 
{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.App-logo 
{
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  }


.App-title 
{
  font-size: 1.5em;
}

.App-intro 
{
  font-size: large;
}





