.Add-Disclosure {
  width: 191px;
  height: 38px;
  font-family: Avenir-Roman;
  font-size: 28px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #255d63; }
  
  .Shape {
  width: 22px;
  height: 24px;
  background-color: #255d63;
}
  .Search-for-related-d {
  width: 801px;
  height: 79px;
  font-family: Avenir-Roman;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
.Rectangle {
  width: 1113px;
  height: 49px;
  border-radius: 8px;
  background-color: #def6f9;
}
.Rectangle-6 {
  width: 328px;
  height: 32px;
  background-color: #ebebeb;
}
.Rectangle-6-Acc {
  width: 330px;
  height: 100%;
  background-color: #f5f5f5;
  border: solid 0.5px #979797;
}
.Rectangle-12 {
  width: 762px;
  height: 33px;
  background-color: #ebebeb;
  border: solid 0.5px #979797;
}
.Reset-Button {
  width: 103px;
  height: 48px;
  border-radius: 8px;
  background-color: #d98906;
}
.Finish{
  width: 267px;
  height: 48px;
  border-radius: 8px;
  background-color: #44959f;
}
.Investments-are-not {
  width: 734px;
  height: 916px;
  font-family: Avenir;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}
.Investments-are-not .text-style-1 {
  color: #6c8288;
}
.Investments-are-not .text-style-2 {
  font-family: Avenir-Roman;
  font-weight: normal;
}
.Investments-are-not .text-style-3 {
  font-family: Avenir-Roman;
  font-weight: normal;
  color: #6c8288;
}

