.App 
{
  text-align: left;
}
a{
    color:black;
}
section {
    margin-bottom: 30px;
}

h5 {
    margin-bottom: 10px;
}

.nav-link {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: hand;
    cursor: pointer;
}

.tab-link {
    color:red;
}

.nav-tabs a.nav-link:hover {
    color: red;
}

.nav-tabs .nav-link.active {
    background-color: whitesmoke;
}

.nav-tabs .nav-link.active:hover {
    color: red;
    background-color: whitesmoke;
}

.my-tab-header {
    background-color: lightblue;
}

.nav-tabs a.my-active-tab-header.active, .nav-tabs a.my-active-tab-header.active:hover {
    background-color: cornflowerblue;
}

.tab-content-default {
    height: 50px;
    background-color: whitesmoke;
}

.my-tab-content {
    height: 50px;
    background-color: green;
}

.tab-container-with-border {
    border: 1px dashed navy;
    height:30px;
}

.tab-container-with-green-border {
    border: 2px solid green;
}

.tab-header-bold {
    font-weight: bold;
}




.tab-content-yellow {
    background-color: lightgoldenrodyellow;
}

.tab-content-green {
    color: green;
}
.nav-tabs a.nav-link:hover {
    color: #fff;
}
.nav-tabs .nav-item 
{
    width: 20%;
    border-radius: 8px;
    background-color: lightgray;
    margin: 20px;
    text-align: center;
    color: #fff;
    font-size: 14px;
 
    font-weight:bold;
}

.nav-tabs .nav-item a
{
    height:60px;
    padding-top:8%;
}

.nav-item::after 
{
    border: 1px solid #17a2b8;
    position: absolute;
}

.nav-tabs a.tab-header-blue.active
{
    color:#fff;
    background-color:#17a2b8;
    border-radius: 8px;
   
}

.nav-tabs .nav-link.active:hover {
    
    background-color: #17a2b8;
    color:#fff;
}

.tabWidth .nav.nav-tabs .nav-item 
{
  width:15%;
  margin:5px;
  
}
.tabWidth .nav.nav-tabs .nav-item a
{
    height:40px;
    padding-top:6%;
}

.btn{
    margin-left:20px;
}

a.btn{
    
    font-size:12px;
}

.searchTxt
{
    margin-left:2%;
    border-radius:8px;
    padding:10px;
    width:30%;
    display:inline-block;
}



.resource
{
    margin-top:2%;
}

.line
{
    border:1px solid blue;
    width:100%;
    margin:2%;
    background-color: #fff;
}

.nav-tabs
{
    border-bottom: 5px solid #17a2b8;
    margin-bottom:2%;
    
}

.percolate
{
    color:#2A9FD8 !important;
}

.writeBody
{
    border:1px solid lightgray;
    border-radius:4px;
    padding:20px;
}
.table.reaserch thead tr th{
    font-weight:normal;
}

.table.reaserch tbody tr td{
    font-weight:bold;
}


.backUp
{
    background-color: lightgray;
    margin-right:3%;
    padding:15px;
}
    

